<div class="container" >
    <div class="row">
        <div class="col-lg-3" *ngFor="let food of foods" >
            <div class="card" style="width: 15rem; border: 0.5px solid black;" >
                <img [src]="food.img" class="card-img-top" alt="..." style="border-bottom: 0.5px solid black;">
                <div class="card-body" >
                  <h5>{{food.name}}</h5>
                  <p>{{food.price}}</p>
                  <p> <app-star [rating]="food.rating" (toParent)="envokedByChild($event)"> </app-star></p> 
                  <a href="#" class="btn btn-primary">Add to cart</a>
                </div>
              </div>
        </div>
    </div>
</div>
